In [215]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

In [216]:
texas_crime_data_df = pd.read_csv("Resources/Texas_2020.csv")
texas_crime_data_df.head()

C:\Users\Lane\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (13) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,AGENCY_ID,INCIDENT_ID,INCIDENT_DATE,INCIDENT_HOUR,CLEARED_EXCEPT_ID,OFFENSE_ID,OFFENSE_TYPE_ID,PUB_AGENCY_NAME,AGENCY_TYPE_NAME,POPULATION,SUBURBAN_AREA_FLAG,POPULATION_GROUP_CODE,COUNTY_NAME,OFFENSE_CODE,OFFENSE_NAME,CRIME_AGAINST,OFFENSE_CATEGORY_NAME,OFFENSE_GROUP
0,29534,133835511,08-DEC-20,11.0,5,161190322,51,Independent School District:,Other,0,Y,7,BEXAR,13B,Simple Assault,Person,Assault Offenses,A
1,29534,133831060,07-DEC-20,16.0,5,161194775,51,Independent School District:,Other,0,Y,7,BEXAR,13B,Simple Assault,Person,Assault Offenses,A
2,29534,123548684,03-MAR-20,16.0,5,149716714,51,Independent School District:,Other,0,Y,7,BEXAR,13B,Simple Assault,Person,Assault Offenses,A
3,29534,123548754,04-MAR-20,15.0,5,149716774,51,Independent School District:,Other,0,Y,7,BEXAR,13B,Simple Assault,Person,Assault Offenses,A
4,29534,123552261,05-MAR-20,16.0,6,149713571,51,Independent School District:,Other,0,Y,7,BEXAR,13B,Simple Assault,Person,Assault Offenses,A

In [217]:
texas_crime_data_df.dtypes

AGENCY_ID                  int64
INCIDENT_ID                int64
INCIDENT_DATE             object
INCIDENT_HOUR            float64
CLEARED_EXCEPT_ID          int64
OFFENSE_ID                 int64
OFFENSE_TYPE_ID            int64
PUB_AGENCY_NAME           object
AGENCY_TYPE_NAME          object
POPULATION                 int64
SUBURBAN_AREA_FLAG        object
POPULATION_GROUP_CODE     object
COUNTY_NAME               object
OFFENSE_CODE              object
OFFENSE_NAME              object
CRIME_AGAINST             object
OFFENSE_CATEGORY_NAME     object
OFFENSE_GROUP             object
dtype: object

In [218]:
texas_crime_data_df.nunique()

AGENCY_ID                    775
INCIDENT_ID              1109465
INCIDENT_DATE                366
INCIDENT_HOUR                 24
CLEARED_EXCEPT_ID              6
OFFENSE_ID               1200701
OFFENSE_TYPE_ID               53
PUB_AGENCY_NAME              686
AGENCY_TYPE_NAME               5
POPULATION                   676
SUBURBAN_AREA_FLAG             2
POPULATION_GROUP_CODE         16
COUNTY_NAME                  286
OFFENSE_CODE                  56
OFFENSE_NAME                  53
CRIME_AGAINST                  3
OFFENSE_CATEGORY_NAME         25
OFFENSE_GROUP                  1
dtype: int64

In [219]:
texas_crime_data_df['CRIME_AGAINST'].unique()

array(['Person', 'Society', 'Property'], dtype=object)

In [220]:
pd.value_counts(texas_crime_data_df['CRIME_AGAINST'])

Property    743036
Person      310195
Society     147470
Name: CRIME_AGAINST, dtype: int64

In [221]:
# type = []

# for row in texas_crime_data_df['OFFENSE_CATEGORY_NAME']:
#     if row == 'Assault Offenses':
#         type.append('Assault')
#     else:
#          type.append('Other')
    
    
# texas_crime_data_df['TYPE'] = type
 
# texas_crime_data_df.head()

In [222]:
# texas_crime_data_df['TYPE'].nunique()

In [223]:
# i = 0

# for row in texas_crime_data_df['TYPE']:
#     if row =="Assault":
#         i = i + 1
# i

In [224]:
# i = 0

# for row in texas_crime_data_df['TYPE']:
#     if row =="Other":
#         i = i + 1
# i

In [225]:
texas_crime_data_df.isnull().sum()

AGENCY_ID                 0
INCIDENT_ID               0
INCIDENT_DATE             0
INCIDENT_HOUR             0
CLEARED_EXCEPT_ID         0
OFFENSE_ID                0
OFFENSE_TYPE_ID           0
PUB_AGENCY_NAME           0
AGENCY_TYPE_NAME          0
POPULATION                0
SUBURBAN_AREA_FLAG        0
POPULATION_GROUP_CODE     0
COUNTY_NAME              11
OFFENSE_CODE              0
OFFENSE_NAME              0
CRIME_AGAINST             0
OFFENSE_CATEGORY_NAME     0
OFFENSE_GROUP             0
dtype: int64

In [226]:
texas_crime_data_df = texas_crime_data_df.dropna()

In [227]:

texas_crime_data_df.isnull().sum()

AGENCY_ID                0
INCIDENT_ID              0
INCIDENT_DATE            0
INCIDENT_HOUR            0
CLEARED_EXCEPT_ID        0
OFFENSE_ID               0
OFFENSE_TYPE_ID          0
PUB_AGENCY_NAME          0
AGENCY_TYPE_NAME         0
POPULATION               0
SUBURBAN_AREA_FLAG       0
POPULATION_GROUP_CODE    0
COUNTY_NAME              0
OFFENSE_CODE             0
OFFENSE_NAME             0
CRIME_AGAINST            0
OFFENSE_CATEGORY_NAME    0
OFFENSE_GROUP            0
dtype: int64

In [228]:
texas_crime_data_df = texas_crime_data_df.drop(['AGENCY_ID','INCIDENT_ID','INCIDENT_DATE','CLEARED_EXCEPT_ID',
                             'OFFENSE_ID','OFFENSE_TYPE_ID','PUB_AGENCY_NAME',
                             'AGENCY_TYPE_NAME','POPULATION_GROUP_CODE','COUNTY_NAME',
                              'OFFENSE_CODE','OFFENSE_NAME','OFFENSE_CATEGORY_NAME','OFFENSE_GROUP'],axis=1)
texas_crime_data_df.head()

   INCIDENT_HOUR  POPULATION SUBURBAN_AREA_FLAG CRIME_AGAINST
0           11.0           0                  Y        Person
1           16.0           0                  Y        Person
2           16.0           0                  Y        Person
3           15.0           0                  Y        Person
4           16.0           0                  Y        Person

In [229]:
X = texas_crime_data_df.drop(columns="CRIME_AGAINST")
# X = pd.get_dummies(texas_crime_data_df, texas_crime_data_df["SUBURBAN_AREA_FLAG"])
X = pd.get_dummies(X)
y = texas_crime_data_df["CRIME_AGAINST"]

X.head()

   INCIDENT_HOUR  POPULATION  SUBURBAN_AREA_FLAG_N  SUBURBAN_AREA_FLAG_Y
0           11.0           0                     0                     1
1           16.0           0                     0                     1
2           16.0           0                     0                     1
3           15.0           0                     0                     1
4           16.0           0                     0                     1

In [230]:
X.describe()

       INCIDENT_HOUR    POPULATION  SUBURBAN_AREA_FLAG_N  SUBURBAN_AREA_FLAG_Y
count   1.200690e+06  1.200690e+06          1.200690e+06          1.200690e+06
mean    1.280327e+01  9.051306e+05          7.557704e-01          2.442296e-01
std     6.970333e+00  8.917516e+05          4.296297e-01          4.296297e-01
min     0.000000e+00  0.000000e+00          0.000000e+00          0.000000e+00
25%     8.000000e+00  1.018600e+05          1.000000e+00          0.000000e+00
50%     1.400000e+01  4.027000e+05          1.000000e+00          0.000000e+00
75%     1.900000e+01  1.965544e+06          1.000000e+00          0.000000e+00
max     2.300000e+01  2.346155e+06          1.000000e+00          1.000000e+00

In [231]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=1, 
                                                    stratify=y)
X_train.shape

(900517, 4)

# Oversampling

### Naive Random Oversampling

In [232]:
# Resample the training data with the RandomOversampler
from imblearn.over_sampling import RandomOverSampler

ros = RandomOverSampler(random_state=1)
X_resampled, y_resampled = ros.fit_resample(X_train, y_train)

Counter(y_resampled)

Counter({'Property': 557276, 'Person': 557276, 'Society': 557276})

In [233]:
# Train the Logistic Regression model using the resampled data
from sklearn.linear_model import LogisticRegression

#model = LogisticRegression(solver='lbfgs', random_state=1)
model = LogisticRegression(random_state=1)
model.fit(X_resampled, y_resampled)

LogisticRegression(random_state=1)

In [234]:
# Calculated the balanced accuracy score
from sklearn.metrics import balanced_accuracy_score
y_pred = model.predict(X_test)
balanced_accuracy_score(y_test, y_pred)

0.33707135763820273

In [235]:
# Display the confusion matrix
from sklearn.metrics import confusion_matrix


confusion_matrix(y_test, y_pred)

array([[ 76962,      0,    586],
       [184509,      0,   1250],
       [ 36174,      0,    692]], dtype=int64)

In [236]:
# Print the imbalanced classification report
from imblearn.metrics import classification_report_imbalanced
print(classification_report_imbalanced(y_test, y_pred))

C:\Users\Lane\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1245: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

                   pre       rec       spe        f1       geo       iba       sup

     Person       0.26      0.99      0.01      0.41      0.09      0.01     77548
   Property       0.00      0.00      1.00      0.00      0.00      0.00    185759
    Society       0.27      0.02      0.99      0.04      0.14      0.02     36866

avg / total       0.10      0.26      0.74      0.11      0.04      0.00    300173

### SMOTE Oversampling

In [237]:
# Resample the training data with SMOTE
from imblearn.over_sampling import SMOTE
X_resampled, y_resampled = SMOTE(random_state=1, sampling_strategy='auto').fit_resample(
    X_train, y_train
)
Counter(y_resampled)

Counter({'Property': 557276, 'Person': 557276, 'Society': 557276})

In [238]:
# Train the Logistic Regression model using the resampled data
model = LogisticRegression(solver='lbfgs', random_state=1)
model.fit(X_resampled, y_resampled)

LogisticRegression(random_state=1)

In [239]:
# Calculated the balanced accuracy score
y_pred = model.predict(X_test)
balanced_accuracy_score(y_test, y_pred)

0.33707135763820273

In [240]:
# Display the confusion matrix
confusion_matrix(y_test, y_pred)

array([[ 76962,      0,    586],
       [184509,      0,   1250],
       [ 36174,      0,    692]], dtype=int64)

In [241]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, y_pred))

C:\Users\Lane\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1245: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

                   pre       rec       spe        f1       geo       iba       sup

     Person       0.26      0.99      0.01      0.41      0.09      0.01     77548
   Property       0.00      0.00      1.00      0.00      0.00      0.00    185759
    Society       0.27      0.02      0.99      0.04      0.14      0.02     36866

avg / total       0.10      0.26      0.74      0.11      0.04      0.00    300173

## More Machine Learning Models to Come